@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');

*{
    padding: 0;
    margin: 0;
}

body{
    background-image: url("./assets/images/triangles-3320452.png");
    background-repeat: no-repeat;
    background-size: cover;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Roboto;
    padding: 20px;
    color: #FFF;
}

main{
    display: flex;
    width: 100%;
    max-width: 1440px;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.clt_from{
    margin-top: -200px;
    color: #FFF;
    font-family: Roboto, sans-serif;
    margin-bottom: 10px;
}

.adr{
    margin-top: 10px;
    width: 450px;
    height: 30px;
    border-radius: 5px;
    outline: none;
    border: none;
    line-height: 30px;
    padding: 0px 10px; 
}

.city{
    margin-top: 10px;
    width: 250px;
    height: 30px;
    border-radius: 5px;
    outline: none;
    border: none;
    line-height: 30px;
    padding: 0px 10px; 
}

.country{
    margin-top: 10px;
    margin-left: 10px;
    width: 250px;
    height: 30px;
    border-radius: 5px;
    outline: none;
    border: none;
    line-height: 30px;
    padding: 0px 10px; 
}

.dates{
    display: flex;
    gap: 20px;
    font-family: Roboto, sans-serif;
    color: #FFF;
    margin-bottom: 10px;
}

.dt-ord{
    width: 150px;
    height: 30px;
    border-radius: 5px;
    outline: none;
    border: none;
    line-height: 30px;
    padding: 0px 10px; 
}
.dt-rec{
    width: 150px;
    height: 30px;
    border-radius: 5px;
    outline: none;
    border: none; 
    line-height: 30px;
    padding: 0px 10px; 
}

.qt-pc{
    display: flex;
    gap: 20px;
    font-family: Roboto, sans-serif;
    color: #FFF;
    margin-bottom: 10px; 
}

.qt{
    width: 150px;
    height: 30px;
    border-radius: 5px;
    outline: none;
    border: none; 
    line-height: 30px;
    padding: 0px 10px; 
}

.price{
    width: 150px;
    height: 30px;
    border-radius: 5px;
    outline: none;
    border: none; 
    line-height: 30px;
    padding: 0px 10px; 
}

.desc{
    color: #FFF;
    font-family: Roboto, sans-serif;
}

.t-ar{
    width: 700px;
    height: 200px;
    border-radius: 5px;
    outline: none;
    border: none; 
    line-height: 30px;
    padding: 0px 10px; 
} 

.sub{
    width: 200px;
    height: 30px;
    margin-top: 10px;
    border-radius: 5px;
    border: none;
    font-family: Roboto, sans-serif;
    font-size: 18px;
    font-weight: bold;
}